html,body{
    background-image: url('/static/img/login_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    margin-left: 4%;
    margin-right: 6%;
    font-size: 20px;
    list-style-type: none;
}
h1{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color:  rgb(42, 43, 44);
    color: whitesmoke;
    height: 48px;
    position: relative;
    border-radius: 8px;
    margin-left: 100px;
    margin-right: 100px;
}
h2{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.rd1{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    display: block;
    margin-top: 2%;
    border-radius: 8px;
    border-color: black;
    border-style: solid;
    
    
}