{% load static %}
<div
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-hidden="true"
	style="position: fixed"
	id="chatbotModal"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header justify-content-center">
				<div class="headerBar" style="width: 100%">
					<h3 class="h3 title">Money Manager Chatbot</h3>
				</div>
			</div>

			<div class="modal-body">
				<div class="chatbox">
					<div class="chatlogs" id="chatlogs">
						<div class="chat friend">
							<div class="user-photo">
								<img src="{% static 'img/user.png' %}" />
							</div>
							<p class="chat-message">Hello! How can I help you ?</p>
						</div>

						<div class="chat friend" style="display: none">
							<div class="user-photo">
								<img src="{% static 'img/user.png' %}" />
							</div>
						</div>
					</div>
				</div>
				<div class="chat-form">
					<div id="inputDiv">
						<div id="buttonDiv"></div>
						<textarea
							class="input"
							id="message"
							placeholder="Message"
							rows="1"
							data-min-rows="1"
						></textarea>
					</div>
					<div id="chat-form-buttons">
						<input
							type="image"
							src="{% static 'img/send.png' %}"
							onclick="message();"
							width="45px"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
