{% extends 'base.html' %}
{% load static %}
{% block title %}Investement Options{% endblock title %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Market</title>
    <link rel="stylesheet" href="{% static 'css/stock.css' %}" />
    <style>
         @media (max-width:817px){
            h1 {font-size:180%;
                width:95%;
                margin-left: 2.5%;
                padding-top: 1.2%;}}
        @media (max-width: 600px){
            .rd1 {width:90%;
            margin-left: 6%;}
        }
    </style>
</head>
<body>
    <h1>STOCK MARKET</h1>

    <p class="main">
        A stock (also known as equity) is a security that represents the ownership of a fraction of a corporation. This entitles the owner of the stock to a proportion of the corporation's assets and profits equal to how much stock they own. Units of stock are called "shares."
Stocks are bought and sold predominantly on stock exchanges, though there can be private sales as well, and are the foundation of many individual investors' portfolios. These transactions have to conform to government regulations which are meant to protect investors from fraudulent practices.


    </p>


    <div><img class="rd1" src="{% static 'img/stock4.jpg' %}"></div>


    <h2>UNDERSTANDING STOCKS</h2>
    <ul class="main">
    <P>Corporations issue (sell) stock to raise funds to operate their businesses. The holder of stock (a shareholder) has now bought a piece of the corporation and, depending on the type of shares held, may have a claim to a part of its assets and earnings. In other words, a shareholder is now an owner of the issuing company. Ownership is determined by the number of shares a person owns relative to the number of outstanding shares. For example, if a company has 1,000 shares of stock outstanding and one person owns 100 shares, that person would own and have claim to 10% of the company's assets and earnings.
        Stock holders do not own corporations; they own shares issued by corporations. But corporations are a special type of organization because the law treats them as legal persons.</P>
    <b>Stockholders and Equity Ownership :</b><br>

        
        Owning stock gives you the right to vote in shareholder meetings, receive dividends (which are the company’s profits) if and when they are distributed, and it gives you the right to sell your shares to somebody else.
        you own a majority of shares, your voting power increases so that you can indirectly control the direction of a company by appointing its board of directors.
        For most ordinary shareholders, not being able to manage the company isn't such a big deal. The importance of being a shareholder is that you are entitled to a portion of the company's profits, which, as we will see, is the foundation of a stock’s value. 
        <br><br> <b>Common vs Preferred Stock : </b><br>
        There are two main types of stock: common and preferred. Common stock usually entitles the owner to vote at shareholders' meetings and to receive any dividends paid out by the corporation. Preferred stockholders generally do not have voting rights, though they have a higher claim on assets and earnings than the common stockholders. For example, owners of preferred stock (such as Larry Page) receive dividends before common shareholders and have priority in the event that a company goes bankrupt and is liquidated.
        
        <br><br><b> Stocks vs Bonds </b><br>
        Stocks are issued by companies to raise capital, paid-up or share, in order to grow the business or undertake new projects. There are important distinctions between whether somebody buys shares directly from the company when it issues them (in the primary market) or from another shareholder (on the secondary market). When the corporation issues shares, it does so in return for money.
        
        Bonds are fundamentally different from stocks in a number of ways. First, bondholders are creditors to the corporation, and are entitled to interest as well as repayment of principal. Creditors are given legal priority over other stakeholders in the event of a bankruptcy and will be made whole first if a company is forced to sell assets in order to repay them. Shareholders, on the other hand, are last in line and often receive nothing, or mere pennies on the dollar, in the event of bankruptcy. This implies that stocks are inherently riskier investments that bonds.
        <br>
        
        
        



    


   
</ul>
   
</body>
</html>



{% endblock content %}