{% extends 'base.html' %}
{% load static %}
{% block title %}User Information{% endblock title %}

{% block content %}
{% csrf_token %}
<div class="row justify-content-center p-4">
    <div class="col-lg-8 mb-4">
        <div class="col">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center border-bottom-success pb-3">
                        <div class="col mr-2">
                            <div class="text-lg font-weight-bold text-success text-uppercase mb-1">Profile
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center mt-3">
                        <div class="col">
                            <div class="text-sm  text-dark text-uppercase mb-1">name
                            </div>
                        </div>
                        <div class="col editable" id="name" data-id="name">
                            {{ request.user.username }}</div>
                    </div>
                    <div class="row no-gutters align-items-center mt-3">
                        <div class="col">
                            <div class="text-sm  text-dark text-uppercase mb-1">email
                            </div>
                        </div>
                        <div class="col editable" id="email" data-id="email">{{ request.user.email }}</div>
                    </div>
                    <div class="row no-gutters align-items-center mt-3">
                        <div class="col">
                            <div class="text-sm  text-dark text-uppercase mb-1">income
                            </div>
                        </div>
                        <div class="col editable" id="income" data-id="income">
                            {% for d in data %}{{ d.income }}{%endfor %}</div>
                    </div>
                    <div class="row no-gutters align-items-center mt-3">
                        <div class="col">
                            <div class="text-sm  text-dark text-uppercase mb-1">profession
                            </div>
                        </div>
                        <div class="col editable" id="profession" data-id="profession">
                            {% for d in data %}{{d.profession }}{% endfor %}</div>
                    </div>
                    <div class="row no-gutters align-items-center mt-3">
                        <div class="col">
                            <div class="text-sm  text-dark text-uppercase mb-1">gender
                            </div>
                        </div>
                        <div class="col">{% for d in data %}{{ d.gender }}{% endfor %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    var endpoint = "{% url 'user_info_ajax' %}";
</script>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}