html,body{
    background-image: url("/static/img/login_background.2fa45e81a87d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    margin-top: 5%;
}
ul{
    margin-top: 3%;
    margin-left: 10%;
}
.item1{
    margin-bottom: 2%;
    padding-top: 2%;
    list-style-type: none;
    font-size: small;
}
