{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <img src="{% static 'img/money icon.png' %}" alt="Money manager icon" width="100" height="100">
</div>
<div class="row justify-content-center">
    <h1>
        About Us
    </h1>
</div>

<hr class="border-top border-dark m-2">
<div class="row ml-3">
    <div class="col pt-3 pl-3 pr-3 pb-1">
        <p>We at <b>"Money Manager"</b> adopt a structured and disciplined advisory approach and provide you financial
            solutions
            which meet your desired financial goals.</p>
    </div>
</div>

<div class="row ml-3">
    <div class="col pt-3 pl-3 pr-3 pb-1">
        <p>At <b>"Money Manager"</b> , we offer you a complete range of solutions that complement our advisory services.
            The
            range includes a combination of best structured products.
            The approach is to recommend you product solutions within your overall asset allocation in an unbiased
            manner after
            evaluating
            all the options available in the market.</p>
    </div>
</div>

<div class="row ml-3">
    <div class="col pt-3 pl-3 pr-3 pb-1">
        <p>We believe that our Family is above all and we must take greatest care of our family while providing best
            health
            facilities to them with optimum Health Insurance.
            Life insurance is a way to leave money behind for the people who depend on you for financial support,
            partner,
            children, even parents.</p>
    </div>
</div>

<div class="row ml-3">
    <div class="col pt-3 pl-3 pr-3 pb-1">
        <p>Our estate planning, insurance, and wealth creation expertise will put you in the best position to succeed
            while
            allowing you to maximize your time devoted to focusing on the pursuits that are most important to you.
            Explore the
            comprehensive array of advisory services and products we offer designed to support optimal wealth creation
            and
            protection of your wealth.
        </p>
    </div>
</div>
{% endblock content %}