<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Money Manager | {% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/coin4 No Background.png' %}" />
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

  </head>

  <body>
    <div class="d-flex" id="wrapper">

      <!-- Sidebar -->
      <div class="bg-dark border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-white"><span class="bullet"><img
              src="{% static 'img/coin4 No Background.png' %}" height="30px" alt=""></span>Money Manager</div>
        <div class="list-group list-group-flush">
          
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white"><i class="fas fa-wallet"></i> Expenses</a>
          
          <!-- <a href="{% url 'schemes' %}" class="list-group-item list-group-item-action bg-dark text-white">Investments</a> -->
          <a class="nav-link dropdown-toggle bg-dark text-white" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                 >
                 <i class="fas fa-seedling"></i> Investments
                </a>
                <div class="dropdown-menu dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
                  <a class="dropdown-item bg-dark text-white" href="{% url 'schemes' %}"><i class=""></i> Banking Schemes</a>
                  <div class="dropdown-divider "></div>
                  <a class="dropdown-item bg-dark text-white" href="#"><i class=""></i> Cryptocurrency</a>
                  <div class="dropdown-divider "></div>
                  <a class="dropdown-item bg-dark text-white" href="#"><i class=""></i> Stock Market</a>
                  <div class="dropdown-divider "></div>
                  <a class="dropdown-item bg-dark text-white" href="#"><i class=""></i> Real Estate</a>
                  <div class="dropdown-divider "></div>
                  <a class="dropdown-item bg-dark text-white" href="#"><i class=""></i> Insurance</a>
                  <div class="dropdown-divider "></div>
                  <a class="dropdown-item bg-dark text-white" href="#"><i class=""></i> Coming Soon...</a>
                </div>
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white"><i class="fas fa-calculator"></i> Calculator</a>
                <a href="{% url 'about' %}" class="list-group-item list-group-item-action bg-dark text-white"><i
                  class="fas fa-question-circle"></i>  About Us</a>

        </div>
      </div>
      <!-- /#sidebar-wrapper -->
      <!-- Page Content -->
      <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
          <button class="btn btn-info" id="menu-toggle">Menu</button>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link mx-3" href="#"><i class="fas fa-home"></i> Home <span
                    class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-cogs"></i> User Settings
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#"><i class="fas fa-user"></i> Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-3" href="#"><i class="fas fa-sign-in-alt"></i> Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-3" href="#"><i class="fas fa-user-plus"></i> Sign Up</a>
              </li>


            </ul>
          </div>
        </nav>
        {% block content %}{% endblock content %}
      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Footer -->
    <footer class="bg-light text-lg-start">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0 border-right border-dark text-center">
            <h5 class="text-uppercase">Money Manager</h5>

            <p class="h6 mt-4">
              Don't wait for a better investment option, <br>invest and wait for a better time
                
            </p>

            <p class="h6 mt-4">
              It's not your salary that makes you rich,<br>its your spending Habits</sub>
            </p>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col mb-4 mb-md-0">
            <div class="row">
              <div class="col">
                <h5 class="text-dark h5">On this Web App</h5>
              </div>
            </div>

            <div class="row">
              <div class="col p-3">
                <div class="row">
                  <div class="col mt-4">
                    <a href="#!" class="text-dark badge"><i class="fas fa-seedling"></i> Check your
                      Investment Options</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col mt-4">
                    <a href="#!" class="text-dark badge"><i class="fas fa-info-circle"></i> Blogs for better
                      understanding</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col mt-4">
                    <a href="#!" class="text-dark badge"><i class="fas fa-wallet"></i> Manage your
                      Expenses</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col mt-4">
                    <a href="{% url 'about' %}" class="text-dark badge"> <i class="fas fa-question-circle"></i> Know more
                      About Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center text-light p-3 bg-secondary" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <span class="text-light">Team Money Manager</span>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    {% block javascript %}{% endblock javascript %}

    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>

  </body>

</html>
