<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Money Manager | {% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/coin4 No Background.png' %}" />
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}

  </head>

  <body>
    {% if request.user.is_authenticated %}
    <div class="d-flex" id="wrapper">

      <!-- Sidebar -->
      <div class="bg-dark border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-white">
          <a href="{% url 'index' %}" class="text-white badge">
            <span class="bullet badge">
              <img src="{% static 'img/coin4 No Background.png' %}" height="30px" alt="">
            </span>Money Manager
          </a>
        </div>
        <div class="list-group list-group-flush">
          <a href="{% url 'exp_index' %}" class="list-group-item list-group-item-action bg-dark text-white"><i
              class="fas fa-wallet"></i>
            Expenses</a>

          <!-- <a href="{% url 'invest_index' %}" class="list-group-item list-group-item-action bg-dark text-white">Investments</a> -->
          <a class="list-group-item list-group-item-action bg-dark text-white" data-toggle="collapse"
            href="#sidenavCollapse" role="button" aria-expanded="false" aria-controls="sidenavCollapse">
            <i class="fas fa-seedling"></i> Investments <i class="fas fa-caret-down ml-5"></i>
          </a>
          <div class="collapse" aria-labelledby="sidenavCollapse" id="sidenavCollapse">
            <div class="card card-body bg-dark">
              <a class="list-group-item list-group-item-action bg-dark text-white font-weight-light"
                href="{% url 'invest_index' %}">
                <i class="fas fa-university"></i> Schemes</a>

              <div class="dropdown-divider "></div>

              <a class="list-group-item list-group-item-action bg-dark text-white font-weight-light" href="#">
                <i class="fab fa-bitcoin"></i> Cryptocurrency</a>

              <div class="dropdown-divider "></div>

              <a class="list-group-item list-group-item-action bg-dark text-white font-weight-light" href="#"><i
                  class="fas fa-chart-line"></i> Stock
                Market</a>

              <div class="dropdown-divider "></div>

              <a class="list-group-item list-group-item-action bg-dark text-white font-weight-light" href="#"><i
                  class="fas fa-home"></i> Real
                Estate</a>

              <div class="dropdown-divider "></div>

              <a class="list-group-item list-group-item-action bg-dark text-white font-weight-light" href="#">
                <i class="fas fa-car-crash"></i> Insurance</a>

              <div class="dropdown-divider "></div>

              <a class="list-group-item list-group-item-action bg-dark text-white font-weight-light" href="#"><img
                  src="{% static 'img/coming_soon.gif'%}" width=180 /></a>
            </div>
          </div>
          <a href=" {% url 'investment_form' %}" class="list-group-item list-group-item-action bg-dark text-white"><i
              class="fas fa-calculator"></i> Calculator</a>
          <a href="{% url 'about' %}" class="list-group-item list-group-item-action bg-dark text-white"><i
              class="fas fa-question-circle"></i> About Us</a>

        </div>
      </div>
      {% endif %}
      <!-- /#sidebar-wrapper -->
      <!-- Page Content -->
      <div id="page-content-wrapper">
        {% include 'topbar.html' %}
        <div class="pb-4">
          {% block content %}{% endblock content %}
        </div>
      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Footer -->
    {% include 'footer.html' %}
    <!-- /Footer -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    {% block javascript %}{% endblock javascript %}

    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>

  </body>

</html>