<!-- Footer -->
<footer class="bg-light text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0 border-right border-dark text-center">
                <h5 class="text-uppercase">Money Manager</h5>

                <p class="h6 mt-4">
                    Don't wait for a better investment option, <br>invest and wait for a better time<br><sub>Ankit
                        Samrat</sub>
                </p>
                
                <p class="h6 mt-4">
                    It's not your salary that makes you rich,<br>its your spending Habits</sub>
                </p>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col mb-4 mb-md-0">
                <div class="row">
                    <div class="col">
                        <h5 class="text-dark h5">On this Web App</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col p-3">
                        <div class="row">
                            <div class="col mt-4">
                                {% if request.user.is_authenticated %}
                                    <a href="#!" class="text-dark badge"><i class="fas fa-seedling"></i> Check your
                                        Investment Options</a>
                                {% else %}
                                    <a href="{% url 'login' %}" class="text-dark badge"><i class="fas fa-seedling"></i> Check your
                                        Investment Options</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-4">
                                <a href="#!" class="text-dark badge"><i class="fas fa-info-circle"></i> Blogs for better
                                    understanding</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-4">
                                {% if request.user.is_authenticated %}
                                    <a href="#!" class="text-dark badge"><i class="fas fa-wallet"></i> Manage your
                                        Expenses</a>
                                {% else %}
                                    <a href="{% url 'login' %}" class="text-dark badge"><i class="fas fa-wallet"></i> Manage your
                                        Expenses</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-4">
                                <a href="#!" class="text-dark badge"> <i class="fas fa-question-circle"></i> Know more
                                    About Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <span class="text-dark">Team Money Manager</span>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->