{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="copy.css">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid home">
    <!-- <span class="home"> -->
      <h1>Welcome To Money Manager Application!</h1>
    </span>
  </div>
  <hr>
  
  <div class="row">
    <div class="col">
      
        <div class="card ml-4 mt-4" style="width: 18rem;">
          <img src="/static/img/img20.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Blog on Investments</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-success">Click Here</a>
          </div>
        </div>
      </div>
        
      
      <div class="col">
        <div class="card mt-4 ml-4" style="width: 18rem;">
          <img src="/static/img/img10.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">About Share Market</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-success">Click Here</a>
          </div>
        </div>
      </div>
  
      
    
    <div class="col">
     <!-- <span><a href="" id="single"> <img src="/static/img/img30.jfif" alt="" height="20%"></a></span> Enter your image here which you want it to be placed big
    </div>
  </div> -->
  <!--<span><a href=""><img src="/static/img/img30.jfif" alt=""></a></span> -->
  
  
</body>
</html>

{% endblock content %}