{% extends 'base.html' %}
{% load static %}
{% block title %}Investement Options{% endblock title %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptocurrency</title>
    <link rel="stylesheet" href="{% static 'css/insurance.css' %}" />
</head>
<body>
    <h1>INSURANCE</h1>

    <p class="main">
        Insurance is a legal agreement between two parties i.e. the insurance company (insurer) and the individual (insured). In this, the insurance company promises to make good the losses of the insured on happening of the insured contingency. The contingency is the event which causes a loss. It can be the death of the policyholder or damage/destruction of the property. It’s called a contingency because there’s an uncertainty regarding happening of the event. The insured pays a premium in return for the promise made by the insurer.  

    </p>


    <div><img class="rd1" src="{% static 'img/insurance.jpg' %}"></div>


    <h2>TYPES OF INSURANCE</h2>
    <ul class="main">
        
 <li><b> Life insurance : </li></b> 
As the name suggests, life insurance is insurance on your life. You buy life insurance to make sure your dependents are financially secured in the event of your untimely demise. Life insurance is particularly important if you are the sole breadwinner for your family or if your family is heavily reliant on your income. Under life insurance, the policyholder’s family is financially compensated in case the policyholder expires during the term of the policy. <br>  <br>
<li><b> Health insurance : </li></b> 
Health insurance is bought to cover medical costs for expensive treatments. Different types of health insurance policies cover an array of diseases and ailments. You can buy a generic health insurance policy as well as policies for specific diseases. The premium paid towards a health insurance policy usually covers treatment, hospitalization and medication costs.  <br> <br>
<li><b>Car insurance : </li></b> 
In today’s world, a car insurance is an important policy for every car owner. This insurance protects you against any untoward incident like accidents. Some policies also compensate for damages to your car during natural calamities like floods or earthquakes. It also covers third-party liability where you have to pay damages to other vehicle owners.  <br> <br>
<li><b> Educational insurance : </li></b> 
The child education insurance is akin to a life insurance policy which has been specially designed as a saving tool. An education insurance can be a great way to provide a lump sum amount of money when your child reaches the age for higher education and gains entry into college (18 years and above). This fund can then be used to pay for your child’s higher education expenses. Under this insurance, the child is the life assured or the recipient of the funds, while the parent/legal guardian is the owner of the policy. You can estimate the amount of money that will go into funding your children’s higher education using Education Planning Calculator.  <br> <br>
<li><b> Home insurance : </li></b> 
We all dreaming of owning our own homes. Home insurance can help with covering loss or damage caused to your home due to accidents like fire and other natural calamities or perils. Home insurance covers other instances like lightning, earthquakes etc.  <br> <br>


<h3>Tax Benefits on Insurance </h3>
<p> Apart from the safety and security benefits of buying insurance, there are also the income tax benefits that you can avail.
Life insurance premium of up to ₹1.5 lakh can be claimed as a tax-saving deduction under Section 80C
Medical insurance premium of up to ₹25,000 for yourself and your family and ₹25,000 for your parents can be claimed as a tax-saving deduction under Section 80D
These claims have to be made at the time of e-filing income tax returns.  </p>

<p>
    Be it life insurance, health insurance or general insurance, you can buy an insurance policy offline as well as online. Just like there are insurance agents who will help you buy a policy, there are websites as well that you can buy a policy from. Ensure that you have done your research before choosing and investing in an insurance policy.
</p>


        




 </ul> 
</body>
</html>



{% endblock content %}