
{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}

<!DOCTYPE html>
<html>
    <head><title></title>
        <link rel="stylesheet" href="/static/css/mis.css"/>
    </head>
    <body>
        <!-- <img src="mis1.png" width="1200"> -->
        <h1> MONTHLY INCOME SCHEME</h1>
        <p class="main"> As the name suggests Post Office Monthly Income scheme offers fixed income in the form of interest based on the lump sum deposit made by the investor.
            Needless to say this scheme is ideal for investors with low risk appetite looking for a regular assured sum.
            While this scheme is eligle to be invested in by resident individuals, it can be used by minors as well. Infact, minors above the age of 10 can even operate his account.
            The depositor can open multiple accounts of this monthly saving scheme however, the net amount in all schemes combined shouldn’t exceed Rs 4.5 Lakh.</p>
            
            
            <div><img class="mis1" src="/static/img/mis1.png"></div>


            <h2>Major Benefits  </h2>
            <ul class="main">
            <li> 1) Offering liquidity benefits, investors can withdraw the deposited corpus one year from first deposit.</li>
            <li> 2) You can earn interest on it every month as well.</li>
            </ul>
                   
                    
                    
                    
                    
                    <h2>Some Causions</h2>
                    <ul class="main">
                    <li> 1) Please be aware that a withdrawal between 1 and 3 years attracts 1 % penalty and a withdrawal post 3 years attracts 1 % penalty respectively.</li>
                   <li> 2) Interest received monthly will be considered as part of the taxable income ; the monthly interest amount received as well the deposit amount are free from TDS.</li>
                </ul>
    </body>
</html>

{% endblock content %}