{% extends 'base.html' %} {% load static %} {% block title %}Investement
Options{% endblock title %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Market</title>
    <link rel="stylesheet" href="{% static 'css/stock.css' %}" />
  </head>
  <body>
    <h1>REAL ESTATE</h1>

    <p class="main">
      Real estate is real property that consists of land and improvements, which
      include buildings, fixtures, roads, structures, and utility systems.
      Property rights give a title of ownership to the land, improvements, and
      natural resources such as minerals, plants, animals, water, etc.
    </p>

    <div><img class="rd1" src="{% static 'img/real1.jpg' %}" /></div>

    <h2>TYPES OF REAL ESTATE</h2>
    <ul class="main">
      <p>
        There are several types of real estate, each with a unique purpose and
        utility. <br />
        The main categories are :
      </p>

      <ul>
        <li><b>Land</b></li>
        <li><b>Residential</b></li>
        <li><b>Commercial</b></li>
        <li><b>Industrial</b></li>
      </ul>
      <br />
      For anyone looking to understand how the industry works and what each of
      the major categories represents, the explanations below will be a helpful
      guide.<br />
      <br />
      <b> Land </b
      >- Land is the baseline for all types of real property. Land typically
      refers to undeveloped property and vacant land. Developers acquire land
      and combine it with other properties (called assembly) and rezone it so
      they can increase the density and increase the value of the property.
      <br />
      <br />
      <b> Residential </b>
      - Residential real estate consists of housing for individuals, families,
      or groups of people. This is the most common type of estate and is the
      asset class that most people are familiar with. Within residential, there
      are single-family homes, apartments, condominiums, townhouses, and other
      types of living arrangements.
      <br />
      <br />
      <b> Commercial</b>
      - Commercial property refers to land and buildings that are used by
      businesses to carry out their operations. Examples include shopping malls,
      individual stores, office buildings, parking lots, medical centers, and
      hotels.
      <br />
      <br />
      <b>Industrial </b>
      - Industrial real estate refers to land and buildings that are used by
      industrial businesses for activities such as factories, mechanical
      productions, research and development, construction, transportation,
      logistics, and warehousing.

      <br />
    </ul>

    <!-- <h2><br />Examples of Real Estate</h2>
    <ul class="main">
      
      Now that we’ve outlined the four main categories, let’s explore some
      specific examples of different types of real property.
      <br />
      <br />
      <ul>
      <li>
      Single-family dwelling – Any home designed for only one family</li>
      
      <li>Multi-family dwelling – Any group of homes designed for more than one</li>
      
      <li>family Attached – Any unit that’s connected to another (not freestanding)</li>
     <li>Apartment – An individual unit in a multi-unit building. The
      boundaries of the apartment are generally defined by a perimeter of locked
      or lockable doors. Often seen in multi-story apartment buildings.</li>
      Multi-family house – Often seen in multi-story detached
      buildings, where each floor is a separate apartment or unit.</li>
      <li>Condominium (Condo) – A building with individual units owned
      by individual people.</li>
      <li> Detached house – A free-standing building not connecting to anything else
      (a stereotypical “home”)</li>
      <li>Portable house – Houses that can be moved on a flatbed truck</li>
      
      <li> Mobile home – A vehicle on wheels that has a permanent residence attached
      to it</li>
      <li>Villa – A building with only one room and typically a steep
      pointy roof</li>
      <li>Hut – A dwelling typically made of raw materials such as
      bamboo, mud, and clay</li>
    </ul>
    </ul> -->

    <h2>
      <br />
      <br />
      Overview of Real Estate Industry
    </h2>
    <ul class="main">
      Let’s explore how the industry works and what the major jobs and careers
      are. The real estate industry can be divided into several different areas:

      <ul>
        <li>
          <b> Development</b>
          Real estate development is a process that involves the purchase of raw
          land, rezoning, construction and renovation of buildings, and sale or
          lease of the finished product to end users. Developers earn a profit
          by adding value to the land (creating buildings or improvements,
          rezoning, etc.) and taking the risk of financing a project.
          Development firms create a new product, which can be thought of as the
          “primary market” or generation of new inventory.
        </li>
        <br />

        <li>
          <b> Sales and marketing</b>
          Sales and marketing firms work with developers to sell the buildings
          and units they create. These firms earn a commission for creating all
          marketing material and using their sales agents to sell the inventory
          of completed units. These firms typically focus on new units.
        </li>
        <br />

        <li>
          <b> Brokerage</b>
          A real estate brokerage is a firm that employs a team of real state
          agents (realtors) who help facilitate a transaction between the buyers
          and sellers of property. Their job is to represent either party and
          help them achieve a purchase or sale with the best possible terms.
        </li>
        <br />

        <li>
          <b> Property management</b>
          Property management firms help real estate owners rent out the units
          in their buildings. Their jobs include collecting rent, showing units,
          fixing deficiencies, performing repairs, and managing tenants. They
          charge a fee, typically a percentage of the rent, to property owners.
        </li>
        <br />

        <li>
          <b>Real estate lending</b>
          Lenders play a major role in the industry as virtually all properties
          and developments use leverage (debt) to finance their business.
          Lenders can include banks, credit unions, private lenders, and
          government institutions.
        </li>
        <br />

        <li>
          <b> Professional services</b>
          There are a variety of real estate professionals who work in the
          industry and help make it function. The most common examples (other
          than the ones listed above) are accountants, lawyers, interior
          designers, stagers, general contractors, construction workers, and
          tradespeople.
        </li>
        <br />
      </ul>
    </ul>
  </body>
</html>

{% endblock content %}
